{% extends 'base.html' %}

{% block body %}
    <div class="heading">Email Service</div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <form name="myForm" method="POST" action = "{% url 'index' %}">
                        
                        <h1> There is an error in Loading the request !<h1>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


