{% extends 'base.html' %}

{% block head %}

<title> Email Service </title>
{% endblock %}


{% block body %}
    <form name="myForm" method="POST" action = "{% url 'index' %}">
        Email id:
        {% csrf_token %}
        <input type="email" id="email" name = "email" placeholder = "Enter Email id" size = "35" multiple required><br><br>
        Subject:
        <input type="text" id="subject" name = "subject" placeholder = "Enter Subject" size = "35" required><br><br>
        Content: 
        <textarea type="text" name="content" id="content" placeholder = "Enter Content" rows="10" cols="35" required></textarea><br><br>
        <input type="submit"value="Submit">
    </form>

{% endblock %}